<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	</head>
	
	<body>
	<section class="ftco-section">
		<div class="container">
				<div class="col-md-12">
					<div class="w-100">
					<div class="row">
				    <div class="calendar-container">
				      <div class="calendar"> 
				        <div class="year-header"> 
				          <span class="left-button fa fa-chevron-left" id="prev"> </span> 
				          <span class="year" id="label"></span> 
				          <span class="right-button fa fa-chevron-right" id="next"> </span>
				        </div> 
				        <table class="months-table w-100"> 
				          <tbody>
				            <tr class="months-row">
				              <td class="month">Янв</td> 
				              <td class="month">Фев</td> 
				              <td class="month">Мар</td> 
				              <td class="month">Апр</td> 
				              <td class="month">Май</td> 
				              <td class="month">Июн</td> 
				              <td class="month">Июл</td>
				              <td class="month">Авг</td> 
				              <td class="month">Сен</td> 
				              <td class="month">Окт</td>          
				              <td class="month">Ноя</td>
				              <td class="month">Дек</td>
				            </tr>
				          </tbody>
				        </table> 
				        
				        <table class="days-table w-100"> 
				          <td class="day">Вс</td> 
				          <td class="day">Пон</td> 
				          <td class="day">Вт</td> 
				          <td class="day">Ср</td> 
				          <td class="day">Чт</td> 
				          <td class="day">Пт</td> 
				          <td class="day">Сб</td>
				        </table> 
				        <div class="frame"> 
				          <table class="dates-table w-100"> 
			              <tbody class="tbody">             
			              </tbody> 
				          </table>
				        </div> 
				        <button class="button" id="add-button"><i class="bi bi-plus"></i>Событие</button>
				      </div>
				    </div>
					</div>
					
					<div class="row">
				    <div class="events-container">
				    </div>
				    <div class="dialog" id="dialog">
				        <h2 class="dialog-header">Добавить новое событие</h2>
				        <form class="form" id="form">
				          <div class="form-container" align="center">
				            <label class="form-label" id="valueFromMyButton" for="name">Название события</label>
				            <input class="input" type="text" id="name" maxlength="36">
				            <label class="form-label" id="valueFromMyButton" for="count">Number of people to invite</label>
				            <input class="input" type="number" id="count" min="0" max="1000000" maxlength="7">
				            <input type="button" value="Отмена" class="button" id="cancel-button">
				            <input type="button" value="Сохранить" class="button button-white" id="ok-button">
				          </div>
				        </form>
				      </div>
				  </div>
				  </div>
				</div>
		</div>
	</section>

@*	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>*@

	</body>
</html>

